.LaunchList {
    height: 100vh;
    overflow: hidden auto;
    background-color: #ececec;
    padding-left: 20px;
    padding-right: 20px;
}

.LaunchList__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.LaunchList__item {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #919191;
    cursor: pointer;
}

.LaunchList__item:hover {
    color: #0076db;
}

.missionheading {
    font-size: 25px;
    color: #25353f;
}

@media only screen and (max-width:600px) {
    .LaunchList {
        width: 100%;
    }
}